<div>

    <div>
        <h1>Wey Heyyyy Drink Time</h1>
        <h2>{{title}}</h2>
    </div>

    <div class="drinkIngred">

        <div class="box">
            <h3>Instructions</h3>
            {{instructions}}
        </div>

        <div class="box">
            {{!-- <p>Picture: {{picture}}</p> --}}
            <img class="drinkPic" src={{picture}} alt="Drink Image">
        </div>

        <div class="box ingred">
            <h3>Ingredients</h3>
            <P>{{meas1}} {{ing1}}</P>
            <P>{{meas2}} {{ing2}}</P>
            <P>{{meas3}} {{ing3}}</P>
            <P>{{meas4}} {{ing4}}</P>
            <P>{{meas5}} {{ing5}}</P>
            <P>{{meas6}} {{ing6}}</P>
            <P>{{meas7}} {{ing7}}</P>
            <P>{{meas8}} {{ing8}}</P>
            <P>{{meas9}} {{ing9}}</P>
            <P>{{meas10}} {{ing10}}</P>
            <P>{{meas11}} {{ing11}}</P>
            <P>{{meas12}} {{ing12}}</P>
            <P>{{meas13}} {{ing13}}</P>
            <P>{{meas14}} {{ing14}}</P>
            <P>{{meas15}} {{ing15}}</P>
        </div>

    </div>

</div>